Question 1

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Question 2
Start a new ChatBot session with an initial prompt introducing the dataset you're using and request help to determine how many columns and rows of data a pandas DataFrame has, and then

2.1) use code provided in your ChatBot session to print out the number of rows and columns of the dataset; 

and,

2.2) write your own general definitions of the meaning of "observations" and "variables" based on asking the ChatBot to explain these terms in the context of your dataset

In [3]:
#2.1
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv'
df = pd.read_csv(url)

# Get the shape of the DataFrame
rows, columns = df.shape #the output in (rows, columns) for spahe

print(f"The dataset has {rows} rows and {columns} columns.")

The dataset has 391 rows and 11 columns.

2.2 
observations: observations are the individual entries made into the dataset. These are what make up the rows of the dataset. 

variables: The variables are what highlight the unique attributes of each observation. These are what make up the columns of the dataset.

Question 3
Ask the ChatBot how you can provide simple summaries of the columns in the dataset and use the suggested code to provide these summaries for your dataset

In [8]:
#using describe() to find out more about this non-numerical dataset

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv'
df = pd.read_csv(url)

# Summary of categorical (non-numerical) columns
categorical_summary = df.describe(include='object')

# Summary of numerical columns
numerical_summary = df.describe()

print(categorical_summary)
print("\n\n\n\n")
print(numerical_summary)

             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1





            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

categorical Describe basically gives us quite a few details abouta dataset such as this one, which can be said to be rather non-numerical.

In [1]:
# using the head() function to get a pek into what the dataset is actually structured like

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv'
df = pd.read_csv(url)
first_few = df.head()

print(first_few)

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [2]:
# using the count() function to see how many non-missing values are in each column

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv'
df = pd.read_csv(url)

# Count non-null values in each column
df.count()

row_n          391
id             390
name           391
gender         391
species        391
birthday       391
personality    391
song           380
phrase         391
full_id        391
url            391
dtype: int64

Question 4: Explain the discrepancies between size of the dataset given by df.shape and what is reported by df.describe() with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column

In [14]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

actual_shape = df.shape
print(f"the actual number of rows and columns are {actual_shape}\n\ncolumn names are \n{df.columns}")

print("\n\n")
shape_by_describe = df.describe()
print(f"the rows and columns as per describe function are \n {shape_by_describe}")

the actual number of rows and columns are (891, 15)

column names are
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')



the rows and columns as per describe function are
          survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

a) the discrepancy between df.shape and df.describe is a direct result of the way in which the latter works. df.describe() only uses and references the columns that contain numerics in them. that is, it does not consider categorical or object type columns. Hence, even though the total column numner is 15, only 6 of those, as per the describe() function, contain numerical data: leading to the discrepancy.

b) The discrepancy between the number of rows reported in the count() column of desribe() and the actual number of rows, as we can see in columns 'age', for example, is because the function describe() only counts the number of 
non_null values. Hence, If there are missing values, the count will be lower than the total number of rows, which is the case for one of the columns.


Question 5: Use your ChatBot session to help understand the difference between the following and then provide your own paraphrasing summarization of that difference

Answer: methods are like functions that are used to perform actions or operations on the dataset. These end with () because these functions are called that way. furthermore, more actions could be fit into these parentiesis. for example df.describe(include='objects') these actions are more commonly known as arguments. 

on the other hand, attributes basically hold a value/property and hence can be accessed without parenthesis as they do not have any further arguments that can be called within them. for example, df.shape


Question 6: The df.describe() method provides the 'count', 'mean', 'std', 'min', '25%', '50%', '75%', and 'max' summary statistics for each variable it analyzes. Give the definitions (perhaps using help from the ChatBot if needed) of each of these summary statistics

Answer 6: 
count: the number of non-missing values in each numerical column
mean: the sum of all the values in the column divided by the count. 
std: a measure of how dispersed the data is in relation to the mean.
min: the smallest value in the column
25%: the value which is greater than exactly 25% of the values in the dataset 
50%: the value which is greater than exactly 50% of the values in the dataset 
75%: the value which is greater than exactly 75% of the values in the dataset 
max: the largest value in the column


Chatbot summary for the thread above: link: https://chatgpt.com/share/336f11ad-bf26-413a-9286-0ca3cc279a69
Summary of This Session:
Loading a Dataset:

You loaded the Titanic dataset from a URL into a Pandas DataFrame using:
python
Copy code
df = pd.read_csv(url)
Checking the Shape of the DataFrame:

The shape (number of rows and columns) of the dataset was determined using:
python
Copy code
df.shape
This gave the total number of rows and columns (15 columns in the Titanic dataset).
Discrepancy Between df.shape and df.describe():

df.shape reports the actual number of columns, including both numerical and non-numerical ones.
df.describe() by default only summarizes numerical columns, which is why it reported fewer columns (6 in your dataset).
To include non-numerical columns in describe(), you can use:
python
Copy code
df.describe(include='all')
Handling Missing Data:

df.describe() excludes missing (NaN) values when calculating statistics like mean, standard deviation, and percentiles.
The "count" in df.describe() refers to the number of non-missing (non-NaN) values in each column. This helps in identifying columns with missing data.
For instance, if a column has missing values, the "count" will be lower than the total number of rows.
df['column'].value_counts():

This function was used to count the occurrences of each unique value in a specific column. It's especially helpful for categorical data to see the distribution of categories.
Differences Between Methods and Attributes:

Methods (e.g., df.describe()) are functions that perform actions on the data and require parentheses to be called.
Attributes (e.g., df.shape) represent properties of the DataFrame and are accessed without parentheses.
Coding Results:
You used df.shape to determine the actual dimensions of the DataFrame.
You explored summary statistics for both numerical and non-numerical data using df.describe() and df.describe(include='all').
You examined how missing data is handled by df.describe(), and how NaN values are excluded from calculations but reflected in the "count" statistic.
This session helped clarify how to inspect and summarize data, handle missing values, and understand discrepancies between different Pandas functions and attributes.



Question 7: Missing data can be considered "across rows" or "down columns". Consider how df.dropna() or del df['col'] should be applied to most efficiently use the available non-missing data in your dataset and briefly answer the following questions in your own words

----

Answer:
1. df.dropna() is preferable in the case when we might want to clean up the DataFrame by clearing up all the empty rows and columns that contain any missing information as del df['col'] only deletes a specific column and would not do the best job at clearing up all empty spaces within a dataframe. 

2. on the other hand, using del df['col'] maybe be prefered over using df.dropna() when we want to remove a specific column, and not any row associated with it. 

3. running del df['col'] before df.dropna() would be a good idea because if there exists a column with multiple empty cells, we could remove the column on its own so that it does not end up removing too much of the dataframe rows. Fruthermore, doing so so would leave less work for the latter df.dropna() method which would result in faster processing, especially when the dataFrame is large. 

4th one is attached below as a code, with reasoning added as comments

In [6]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

print("Original DataFrame shape:", df.shape) #this is the state before. (891,15)
print("Missing values before dropping 'deck':\n", df.isnull().sum())#this counts the number of values in each 
#column which are empty

# Remove the 'deck' column as it contains multiple empty cells 
del df['deck']
print("\n\nDataFrame shape after dropping 'deck':", df.shape)
print("Missing values after dropping 'deck':\n", df.isnull().sum()) #we can see the change here

# Remove rows with any missing values
df_cleaned = df.dropna()
print("\nCleaned DataFrame:\n", df_cleaned)
print("\nCleaned DataFrame shape:", df_cleaned.shape) #the number of rows have droped a bit. one column was 
#also removed (deck) (712,14)

Original DataFrame shape: (891, 15)
Missing values before dropping 'deck':
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64


DataFrame shape after dropping 'deck': (891, 14)
Missing values after dropping 'deck':
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

Cleaned DataFrame:
      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
885         0       3  female  39.0      0      5  29.1250        Q   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male  embark_town alive  alone
0      man        True  Southampton    no  False
1    woman       False    Cherbourg   yes  False
2    woman       False  Southampton   yes   True
3    woman       False  Southampton   yes  False
4      man        True  Southampton    no   True
..     ...         ...          ...   ...    ...
885  woman       False   Queenstown    no  False
886    man        True  Southampton    no   True
887  woman       False  Southampton   yes   True
889    man        True    Cherbourg   yes   True
890    man        True   Queenstown    no   True

[712 rows x 14 columns]

Cleaned DataFrame shape: (712, 14)

ChatGPT summary for coversation thread above (question 7) 

link: https://chatgpt.com/share/0c93b95e-29de-4758-b144-354aad9c3e9e

Interaction Summary:
Problem: You were curious why df.dropna() did not remove any rows containing empty cells after using del df['deck'] to remove a column from the DataFrame.
Explanation: The dropna() function removes rows or columns with missing values (NaN). If no rows contain missing values in the remaining columns, dropna() will not remove any rows. Removing the 'deck' column with del df['deck'] might have made no difference if the remaining columns had no missing values or all missing values were already accounted for.
Code Used:
Initial Setup:

Load the Titanic dataset from a URL into a DataFrame.
Print the initial shape of the DataFrame.
Column Removal:

Use del df['deck'] to remove the 'deck' column from the DataFrame.
Apply dropna():

Use df.dropna() to remove rows with any missing values and store the result in df_cleaned.
Print the cleaned DataFrame and its shape.
Additional Checks (for clarity):

Print missing values before and after dropping the 'deck' column.
Print the first few rows of the DataFrame before and after applying dropna().



Question 8:

part 1: Use your ChatBot session to understand what df.groupby("col1")["col2"].describe() does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you

Answer: df.groupby("col1")["col2"].describe() basically means that you want a table summarizing the values in 'col2' with relation to each unique value in 'col1'. To demonstra this using a new example, lets write the code for the same using the columns 'class' and fare'

In [1]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class")["age"].describe()
print(class_and_fare)

        count       mean        std   min   25%   50%   75%   max
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

part 2: Assuming you've not yet removed missing values in the manner of question "7" above, df.describe() would have different values in the count value for different data columns depending on the missingness present in the original data. Why do these capture something fundamentally different from the values in the count that result from doing something like df.groupby("col1")["col2"].describe()?

Answer: The way the count function works in df.groupby("col1")["col2"].describe() is inherently different than the way it works for describe(). This is because in df.groupby("col1")["col2"].describe(), the count represent the number of values in 'col2' that correspond to the specific values in 'col1' that is, it represents the number of non-missing values in "col2" within each group of "col1". On the other hand, describe() just shows the number of non-missing values in each numerical column.


part 3: Intentionally introduce the following errors into your code and report your opinion as to whether it's easier to (a) work in a ChatBot session to fix the errors, or (b) use google to search for and fix errors: first share the errors you get in the ChatBot session and see if you can work with ChatBot to troubleshoot and fix the coding errors, and then see if you think a google search for the error provides the necessary toubleshooting help more quickly than ChatGPT

In [3]:
# exercise 8.3.A

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class")["age"].describe()
print(class_and_fare)

NameError: name 'pd' is not defined

as per chat gpt:
The NameError is likely because you haven't imported the necessary libraries before using the code. In this case, pandas needs to be imported, as it's required to handle DataFrame operations.

To fix the error, add the following import at the top of your script:

import pandas as pd

hence, chat GPT was super quick at identifying the error and google cannot beat it in this case.

In [5]:
#exercise 8.3.B: Mistype "titanic.csv" as "titanics.csv"

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class")["age"].describe()
print(class_and_fare)

HTTPError: HTTP Error 404: Not Found

Again, chatgpt immediately responded with The error occurs because you've mistyped the file name in the URL (titanics.csv instead of titanic.csv). Since the file titanics.csv doesn't exist in the location you're trying to access, you're getting a FileNotFoundError.

Since it was so rapid at troubleshooting, I do not think google can beat this. 
google did not have any specific guidlines but it did explain what the FileNotFoundError was.

In [7]:
#8.3.C -> Try to use a dataframe before it's been assigned into the variable

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = DF.groupby("class")["age"].describe()
print(class_and_fare)

NameError: name 'DF' is not defined

chat gpt: The error occurs because you've typed DF instead of df. Python is case-sensitive, so df and DF are treated as two different variables. Since you named your DataFrame df in the line where you load the data, you need to use df consistently in your code.

it recognized the error immediately. On the other hand, google was able to explain the concept of nameerror but was not able to exaclty guide me to the errors in the code.

In [8]:
#8.3.D -> Forget one of the parentheses somewhere the code

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class"["age"].describe()
print(class_and_fare)

SyntaxError: '(' was never closed (2715004703.py, line 10)

Chat Gpt: The error in your code occurs because of a missing parenthesis and incorrect placement of square brackets. Here's the breakdown:

Issue 1: Missing Parenthesis
In the line:
class_and_fare = df.groupby("class"["age"].describe()
You're missing a closing parenthesis after "class". This is why you're getting an error  the code structure is incomplete.

Again, chat recognized the error straight away. But in this case, even google was able to guide me to stackoverflow where another user had a similar issue.

In [9]:
#8.3.E: Mistype one of the names of the chained functions with the code

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupingby("class")["age"].describe()
print(class_and_fare)

AttributeError: 'DataFrame' object has no attribute 'groupingby'

chat: The error occurs because you mistyped the function name groupby. You wrote groupingby, which is not a valid function in pandas, hence causing the error.

google; googling for attribute errors in python lead me to a link with all functions in librarires and all their attributes

Chat helped automate this process.

In [13]:
#8.3.F -> Use a column name that's not in your data for the groupby and column selection

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("classes")["age"].describe()
print(class_and_fare)

KeyError: 'classes'

In [14]:
#8.3.F -> Use a column name that's not in your data for the groupby and column selection

import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class")["agena"].describe()
print(class_and_fare)

KeyError: 'Column not found: agena'

chat: You're getting a KeyError because "agena" is not a valid column name in the DataFrame. The correct column name is "age", not "agena".
In pandas, a KeyError typically occurs when you try to access a column that doesn't exist in the DataFrame.

Google was nmot able to give super specific information on this

In [16]:
#8.3.G -> Forget to put the column name as a string in quotes for the groupby and column selection


import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

class_and_fare = df.groupby("class")[age].describe()
print(class_and_fare)

NameError: name 'age' is not defined

google: generic advice of which none can be directly applied to our case. 

chat: The NameError in your code occurs because you are using age without quotes. In Python, without quotes, age is treated as a variable, not a column name, and since age hasn't been defined as a variable, you get a NameError.

To fix this, you need to use "age" in quotes, as it is the name of a column in the DataFrame, not a variable.





Hence, I have learnt that in almost all these cases, chat is undoubtedly better than google for troubleshooting.

Conversation with chat gpt link: https://chatgpt.com/share/66e369ed-8f70-8004-a331-caf4df88f21a


Summary: 
Here's a summary of our discussion:

Initial GroupBy Issue: You asked about the function df.groupby("col1")["col2"].describe(), and we discussed how it groups data by the values in "col1" and then provides summary statistics for "col2" within each group.

Missing Parentheses: You encountered an error due to missing parentheses in your groupby statement, which we corrected by ensuring proper placement of both parentheses and square brackets.

Variable Name Mistype: You had a NameError due to using DF instead of df, and we discussed how Python is case-sensitive, so consistent variable names must be used.

Wrong URL and File Name: You mistyped the dataset file name (titanics.csv instead of titanic.csv), causing a FileNotFoundError. Correcting the file name resolved this.

Incorrect Function Name: You mistyped groupby as groupingby, resulting in an AttributeError. Fixing the function name to groupby resolved the issue.

KeyError Due to Mistyped Column Name: You tried to access a non-existent column "agena", leading to a KeyError. We fixed it by using the correct column name "age".

NameError from Unquoted Column Name: You used age without quotes, causing a NameError. We corrected it by using "age" in quotes to refer to the DataFrame column.

In each case, we discussed the cause of the error and how to fix it by ensuring correct syntax and proper use of function names, variable names, and column names.

Question 9: Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?

Answer: YES!!!